body {
  background-color: gainsboro;
  padding: 40px;
}

#playerSprite {
  height: 55px;
  width: 35px;
  background-color: none;
  position: absolute;
  left: 10px;
  top: 415px;
  background-image: url("../images/player_right.png");
}

#container {
  height: 500px;
  width: 800px;
  background-color: white;
  border: 2px solid white;
  position: relative;
  margin: 2.5% auto;
  background-image: url("../images/brick_dark0.png");
  background-repeat: repeat;
}

.floor {
  height: 30px;
  width: 100%;
  background-color: red;
  position: absolute;
  top: 470px;
  background-image: url("../images/stone_dark0.png");
}

.heading {
  font-size: 50px;
  text-align: center;
  font-weight: 400;
  font-family: "Day Roman";
}

#heart1 {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 50px;
  width: 50px;
}

#heart2 {
  position: absolute;
  left: 50px;
  top: 0px;
  height: 50px;
  width: 50px;
}

#heart3 {
  position: absolute;
  left: 100px;
  top: 0px;
  height: 50px;
  width: 50px;
}
